* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 3px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  transform: translateX(-250px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-250px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page {
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
}

.page:hover {
  transform: translateY(-3px);
  font-weight: bold;
}

.page__current {
  text-decoration: underline;
}

.navbar {
  height: 50px;
  width: 100vh;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: teal;
}

.navbar__links {
  margin-left: auto;
}

.post__button {
  display: flex;
  flex-direction: column;
}

.post__button button {
  margin: 2px;
}